
block body

    script(src="/public/js/sorttable.js")

    h1.text-center Wallet Keys

    if addresses
        table.table.sortable
            thead.thead-dark
                tr
                    td Select
                    td Address
                    td Label
                    td Created At
            tbody
                each address in addresses
                    tr
                        td
                            input.walletkeychecklist(type="checkbox", name=address)
                        td #{address.address}
                        td #{address.label}
                        td #{new Date(address.created_at).toLocaleDateString("en-US", { hour12: false, year: "numeric", month:"2-digit", day:"2-digit", hour:"2-digit", minute:"2-digit", second:"2-digit" })}