extends base.pug

block body

    h1.text-center.head Alpha Coin Wallet Testing

    .row.intro
        .col
        .col-8
            .jumbotron
                h2.text-center This is under maintenance Alpha Coin Wallet Portal

                p.
                 This is a draft portal. Use this portal to test your invoices
                 done by using #[a(href="https://developers.coinbase.com/") Coinbase API].

                p.
                 To test click on #[a.btn.btn-primary(href="/login") login] to continue.
        .col
