doctype html
html(lang="en")
head
	title Alpha-Coin Wallet
	meta(charset="utf-8")
	link(rel="stylesheet", href="https://bootswatch.com/4/sketchy/bootstrap.min.css")
	link(rel='stylesheet' type='text/css' href='css/style.css')
	link(href='https://fonts.googleapis.com/css?family=Tajawal' rel='stylesheet')

	script(src='https://code.jquery.com/jquery-3.3.1.js' integrity='sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=' crossorigin='anonymous')
	script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js", integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh", crossorigin="anonymous")
	script(async='' defer='' src='https://buttons.github.io/buttons.js')
	script(src='js/style.js')

body
	header
		img.alpha_coin_logo(src='images/alpha-coin-logo.png')
		| lpha-coin wallet
		//- button.display_login_modal Log In
	a(href="/login")
		button(type="button").display_login_modal Sign In
		button.display_logout_modal Logout
		button.display_signout_modal Sign Up
	.application_container
		.navigation_container
			label.username_label username
			button.nav_button.first.nav_wallet_keys Wallet Keys
			button.nav_button.nav_transaction_history Transaction History
			button.nav_button.nav_crypto_charts Crypto Charts
			button.nav_button.last.nav_trade_bitcoin Create Invoice
			p.about_section
				b What is Alpha-Coin Wallet?
				br
				br
				| Alpha-Coin Wallet is a cryptocurrency trading, management, and monitoring platform designed for simplicity with ease-of-use in mind
				br
				br
				| If you have any questions, you can contact us at
				a.mail_to_link(href='mailto:alphacoinwallet@gmail.com') alphacoinwallet@gmail.com
				br
				br
				br
				a.github-button(href='https://github.com/sharstream/alpha-coin-wallet/fork' data-size='large' aria-label='Fork sharstream/alpha-coin-wallet on GitHub') Fork us on GitHub
		.content_container
			.wallet_keys_container
				.wallet_keys_options
					p.key_copied Click to Copy
					button.new_wallet_key New Wallet Key
					button.cancel_wallet_key Cancel Wallet Key
				.list_of_wallet_keys
					include address.pug
			.transaction_history_container
				.transaction_options
					p.key_copied Click to Copy
					button.edit_transaction Edit
					button.cancel_transaction Cancel
				.list_of_transaction
				include dashboard.pug
			.trade_bitcoin_container
				include invoice.pug
			.crypto_charts_container
				script(type='text/javascript').
					baseUrl = "https://widgets.cryptocompare.com/";
					var scripts = document.getElementsByTagName("script");
					var embedder = scripts[ scripts.length - 1 ];
					var cccTheme = {"General":{"background":"","borderWidth":"0","borderColor":"white","borderRadius":"1px"},"Header":{"background":"#d9aa9a","color":"white","displayFollowers":false},"Data":{"priceColor":"darkgrey","infoLabelColor":"darkgrey","infoValueColor":"darkgrey"},"Chart":{"animation":true,"fillColor":"#d9aa9a","borderColor":"white"},"Trend":{"colorUp":"#55aaed","colorDown":"#d9aa9a"}};
					(function (){
					var appName = encodeURIComponent(window.location.hostname);
					if(appName==""){appName="local";}
					var s = document.createElement("script");
					s.type = "text/javascript";
					s.async = true;
					var theUrl = baseUrl+'serve/v1/coin/chart?fsym=BTC&tsym=USD';
					s.src = theUrl + ( theUrl.indexOf("?") >= 0 ? "&" : "?") + "app=" + appName;
					embedder.parentNode.appendChild(s);
					})();
			//
				meh
				<div class="pagination_container">
				<button class="pagination_button nav_wallet_keys" type="radio"></button>
				<button class="pagination_button nav_transaction_history" type="radio"></button>
				<button class="pagination_button nav_trade_bitcoin" type="radio"></button>
				<button class="pagination_button nav_crypto_charts" type="radio"></button>
				</div>
	.login_modal
		.login_container
			img.close_modal(src='images/close_modal.png')
			.modal_container
				input.username_input(placeholder='Existing User ')
				input.password_input(type='password' placeholder='Password ')
				input.confirm_password_input(type='password' placeholder='Confirm Password ')
				.login_buttons
					button.type_of_user_button New User
					button.login_button Log In
	.new_wallet_key_modal
		.new_wallet_key_container
			img.close_modal(src='images/close_modal.png')
			.modal_container
				input.wallet_name_input(placeholder='New Wallet Name ')
				input.wallet_key_input(placeholder='New Wallet Key ')
				button.add_wallet_key_button Add Key
