extends base.pug

block body

    h1.text-center.head Alpha Coin Wallet Invoices

    .row.intro
        .col
        .col-8
            .jumbotron
                h2.text-center A Personal Alpha Coin Wallet Portal

                p.
                This is a personal invoicing portal. Use this portal to bill your clients
                work done using #[a(href="https://www.coinbase.com/", title="Coinbase") ]:
                accept money in USD or Bitcoin.

                p.
                If you're performing work for clients and need a simple way to bill
                them give Alpha Coin Wallet a try!

                p.
                Please #[a.btn.btn-primary(href="/login") login] to continue.
        .col
